{% extends 'base.html.twig' %}

{% block title %}Exercices{% endblock %}

{% block body %}
{# <a href="{{ path ('app_accueil' )}}">Accueil</a> #}

Liste d'exercices qui vous sont assignés...:
<ul>
{% for exercice in exercices %}
<li>
{{ exercice.nom}}
<form action="{{ path('app_realisation_exercice', {'exerciceId': exercice.id}) }}" method="get">
    <button type="submit" class="btn btn-primary">Commencer l'exercice</button>
</form>
{# <a href="{{ path('app_realisation_exercice', {'exerciceId': exercice.id}) }}" class="btn btn-primary">
    Commencer l'exercice
</a> #}
</li>

    
{% endfor %}
</ul>

{% endblock %}
