{% extends 'base.html.twig' %}

{% block title %}Liste d'Exercices{% endblock %}

{% block body %}
<a href="{{ path ('app_accueil' )}}">Accueil</a>




    

</ul>
<ul>
{% for exercice in exercices %}
<li>
{{ exercice.nom}}
</li>

    
{% endfor %}
</ul>


<h1>{{patient.nom}}</h1>

<h2> Exercices déjà assignés:</h2>
<ul>
{% for exerciceass in exercicesass %}
<li>
{{ exerciceass.nom}}
</li>

{% endfor %}

{% endblock %}
