{% extends 'base.html.twig' %}

{% block title %}Liste d'Exercices{% endblock %}

{% block body %}
<div class="container">
    <a href="{{ path('app_accueil') }}" class="back-link">← Accueil</a>

    <h1 class="page-title">Liste des Exercices</h1>
    <a href="{{ path('app_creation_exercice') }}" class="action-link">Enregistrer un nouvel exercice</a>

    <ul class="exercise-list">
        {% for exercice in exercices %}
            <a href="{{ path('afficher_exercice', {'exerciceId': exercice.id})}}">
            <li class="exercise-item">
                <class="back-link">{{ exercice.nom }}
            </li>
            </a>
        {% endfor %}
    </ul>
    

    
</div>
{% endblock %} 
