<html>
<head>
{# navigation pour toutes les pages #}

    <nav>
    {# liens sans connection #}
    
    

    {# liens pour le Medecin #}
    {# {% if is_granted ('ROLE_MEDIC') %}
    <a href="">Enregistrmenet Patient</a>
    <a href="">Exercices</a>
    <a href="">Listes Patients</a>
    <a href="">Attribuer des Exercices</a>

    {% endif %}

     #}

    {% if app.user %}
        Connecté: {{ app.user.email}}
        <a href="{{ path ('app_logout' )}}">Logout</a>
    {# {% else %}
            <a href="{{ path ('app_login' )}}">Connexion</a> #}
    {% endif %}
    
    
    
    </nav>
</head>
</html>