{% extends 'base.html.twig' %}

{% block title %}Liste de vos Patients{% endblock %}

{% block body %}
<ul>
{% for patient in patients %}
<li>
{{ patient.nom}}
</li>

    
{% endfor %}
</ul>
<a href="{{ path ('app_accueil' )}}">Acceuil</a>
{% endblock %}
