{% extends 'base.html.twig' %}

{% block title %}Hello ListePatientsController!{% endblock %}

{% block body %}
<ul>
{% for patient in patients %}
<li>
{{ patient.nom}}
</li>
    
{% endfor %}
</ul>
{% endblock %}
