{% extends 'base.html.twig' %}

{% block title %}Création d'Exercices!{% endblock %}

{% block body %}
<h2>Créez Votre Exercice: </h2>
{{form_start (formexercice)}}
{{form_end (formexercice)}}

{% endblock %}
